.channels {
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
}

.channels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.channels-list__item {
  background-color: #F2F2F2;
  display: flex;
  margin-bottom: 15px;
}

.first__channel {
  padding-left: 5px;
  padding-top: 50px;
  padding-right: 15px;
  align-self: center;
  background-color: #F2F2F2;
}

.first__channel-1 {
  width: 50px;
  height: 65px;
}

.first__channel-menu-header {
  font-size: 20px;
  font-weight: normal;
  color: var(--basic-black);
  font-weight: 500;
  color: #333333;
}

.first__channel-menu-time {
  padding-right: 12px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
  color: var(--basic-black);
  text-align: left;
  cursor: pointer;
}

.first__channel-menu-program {
  width: 132px;
  font-size: 12px;
  font-weight: normal;
  color: var(--basic-black);
  margin: 0;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.first__channel-menu-content {
  display: flex;
  flex-wrap: wrap;
}

.first__channel-menu-time:hover,
.first__channel-menu-time:focus,
.first__channel-menu-program:hover,
.first__channel-menu-program:focus{
  color: #fb565a;
}

.first__channel-menu-time:active,
.first__channel-menu-program:active,{
  color: red;
}

@media (min-width: 768px) {
  .channels {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .channels-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .first__channel-menu {
    display: flex;
    flex-direction: column;
  }

  .first__channel-block {
    width: 100%;
    margin-bottom: 14px;
    border-collapse: collapse;
  }

  .first__channel-menu-content {
    width: 219px;
  }

}

@media (min-width: 1260px) {
  .channels {
    width: 1260px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .channels-list {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .channels-list__item {
    border-radius: 8px;
    display: flex;
    margin-bottom: 16px;
  }

  .first__channel {
    padding-right: 15px;
    align-self: center;
    background-color: #F2F2F2;
  }

  .first__channel-menu-header {
    margin-bottom: 9px;
  }

  .first__channel--one {
    padding-left: 179px;
    padding-top: 16px;
    padding-right: 50px;
  }

  .two-of-two {
    width: 114px;
    height: 65px;
  }

  .first__channel--two {
    padding-left: 149px;
    padding-top: 21px;
  }

  .first__channel--three {
    padding-left: 149px;
    padding-top: 35px;
  }

  .rbc {
    width: 114px;
    height: 65px;
  }

  .first__channel--four {
    padding-left: 149px;
    padding-top: 47px;
  }

  .amedia {
    width: 114px;
    height: 65px;
  }

  .first__channel-menu {
    margin-left: 123px;
    padding-bottom: 18px;
  }

  .first__channel-menu-content {
    width: 700px;
  }

  .first__channel-menu-time {
    width: 62px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    color: var(--basic-black);
    text-align: left;
    cursor: pointer;
  }

  .first__channel-menu-program {
    width: 600px;
    font-size: 16px;
    font-weight: normal;
    color: var(--basic-black);
    margin: 0;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: normal;
    cursor: pointer;
  }

  .first__channel-block {
    margin-bottom: 0;
  }
}

