.content {
  display: flex;
  justify-content: space-around;
}

.content__container {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.content__con {
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.content__active {
  color: var(--basic-red);
  border-bottom: 1px solid var(--basic-red);
}