.content {
  display: flex;
  justify-content: space-around;
}

.content__container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.content__con {
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  width: 116px;
}

.content__active:active,
.content__active:focus {
  color: var(--basic-red);
  border-bottom: 2px solid var(--basic-red);
}

@media (min-width: 1260px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content__container {
    margin-top: 41px;
    margin-bottom: 10px;
    width: 400px;
    padding-left: 43px;
    padding-right: 20px;
  }

  .content__con {
    padding-left: 0;
    padding-right: 0;
    margin-right: 24px;
    margin-left: 0;
    width: 172px;
    font-size: 28px;
  }

}