.genre {
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.genre__title {
  margin: 0;
  font-weight: 500;
  color: #333333;
  font-size: 24px;
}

.genre__list {
  padding: 0;
  list-style: none;
  position: relative;
}

.genre__item {
  position: relative;
  margin-bottom: 10px;
  opacity: .9;
}

.genre__item:hover,
.genre__item:focus {
  box-shadow: 0 -1rem 1rem rgba(0,0,0,-0.7);
  transform: translateY(-0.5rem);
  background: transparent;
  opacity: 1;
}

.genre__item--comedy::before {
  content: "Комедии";
  position: absolute;
  top: 168px;
  left: 100px;
  width: 100%;
  min-height: 60px;
  color: var(--basic-white);
}

.genre__item--comedy::after {
  content: "";
  position: absolute;
  top: 94px;
  left: 114px;
  width: 48px;
  min-height: 49px;
  background-image: url("../images/src/happy-smyle.svg");
  background-repeat: no-repeat;
}

.genre__item--dram::before {
  content: "Драмы";
  position: absolute;
  top: 168px;
  left: 111px;
  width: 100%;
  min-height: 60px;
  color: var(--basic-white);
}

.genre__item--dram::after {
  content: "";
  position: absolute;
  top: 94px;
  left: 114px;
  width: 48px;
  min-height: 49px;
  background-image: url("../images/src/cry-smile.svg");
  background-repeat: no-repeat;
}

.genre__item--fantastic::before {
  content: "Фантастика";
  position: absolute;
  top: 168px;
  left: 88px;
  width: 100%;
  min-height: 60px;
  color: var(--basic-white);
}

.genre__item--fantastic::after {
  content: "";
  position: absolute;
  top: 94px;
  left: 114px;
  width: 48px;
  min-height: 49px;
  background-image: url("../images/src/alien.svg");
  background-repeat: no-repeat;
}

.genre__item--scary::before {
  content: "Ужасы";
  position: absolute;
  top: 168px;
  left: 112px;
  width: 100%;
  min-height: 60px;
  color: var(--basic-white);
}

.genre__item--scary::after {
  content: "";
  position: absolute;
  top: 94px;
  left: 114px;
  width: 48px;
  min-height: 49px;
  background-image: url("../images/src/scary-movie.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .genre {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .genre__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }

  .genre__title {
    padding-left: 35px;
  }
}

@media (min-width: 1260px) {
  .genre {
    width: 1260px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .genre__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 10px;
    list-style: none;
    position: relative;
  }

  .genre__title {
    margin-top: 7px;
    padding-left: 0;
  }

  .genre__item {
    margin-right: 19px;
  }

  .genre__item:last-child {
    margin-right: 0;
  }

  .genre__item--comedy::before {
    content: "Комедии";
    position: absolute;
    top: 163px;
    left: 100px;
    width: 100%;
    min-height: 60px;
    color: var(--basic-white);
  }

  .genre__item--comedy::after {
    content: "";
    position: absolute;
    top: 82px;
    left: 114px;
    width: 48px;
    min-height: 49px;
    background-image: url("../images/src/happy-smyle.svg");
    background-repeat: no-repeat;
  }

  .genre__item--dram::before {
    content: "Драмы";
    position: absolute;
    top: 163px;
    left: 111px;
    width: 100%;
    min-height: 60px;
    color: var(--basic-white);
  }

  .genre__item--dram::after {
    content: "";
    position: absolute;
    top: 82px;
    left: 114px;
    width: 48px;
    min-height: 49px;
    background-image: url("../images/src/cry-smile.svg");
    background-repeat: no-repeat;
  }

  .genre__item--fantastic::before {
    content: "Фантастика";
    position: absolute;
    top: 163px;
    left: 88px;
    width: 100%;
    min-height: 60px;
    color: var(--basic-white);
  }

  .genre__item--fantastic::after {
    content: "";
    position: absolute;
    top: 82px;
    left: 114px;
    width: 48px;
    min-height: 49px;
    background-image: url("../images/src/alien.svg");
    background-repeat: no-repeat;
  }

  .genre__item--scary::before {
    content: "Ужасы";
    position: absolute;
    top: 163px;
    left: 112px;
    width: 100%;
    min-height: 60px;
    color: var(--basic-white);
  }

  .genre__item--scary::after {
    content: "";
    position: absolute;
    top: 82px;
    left: 114px;
    width: 48px;
    min-height: 49px;
    background-image: url("../images/src/scary-movie.svg");
    background-repeat: no-repeat;
  }
}

