.main-nav__form {
  margin-top: 10px;
}

.main-nav__input {
  width: 227px;
  border: none;
  border-bottom: 1px solid #333333;
}

.main-nav__label {
  color: red;
  font-size: 16px;
}

.main-nav__button {
  background-color: #fb565a;
}


.main-nav__button:hover {
  background-color: #e74246;
}

.main-nav__button:active {
  background-color: #d7373b;
}
