.main-nav__form {
  margin-top: 10px;
}

.main-nav__input {
  width: 227px;
  border: none;
  border-bottom: 1px solid #333333;
}

.main-nav__label {
  color: red;
  font-size: 16px;
}

.main-nav__button {
  margin-top: 20px;
}

.main-nav__authorized {
  display: block;
}

.main-nav__authorizedout {
  display: none;
}

.main-nav__authorized-out {
  border: none;
  display: none;
  outline: none;
}

.main-nav__authorized-outoblock {
  display: block;
}

.button-out {
  display: none;
}

.button-on {
  display: block;
}
