.new {
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.new__title {
  position: relative;
  margin: 0;
  padding-left: 35px;
  font-weight: 500;
  color: #333333;
  font-size: 24px;
}

.new__title::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 27px;
  min-height: 25px;
  background-image: url("../images/src/fire.svg");
}

.new__list {
  padding: 0;
  list-style: none;
  position: relative;
}

.new__item > p {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding-bottom: 15px;
}

.new__item {
  padding: 10px;
  max-width: 30rem;
  position: relative;
  //box-shadow: none;
  //transition: transform 300ms ease-in-out,
  //box-shadow 400ms ease, background 100ms ease;
  //overflow: hidden;
}

.new__item .new__item-link {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.new__item .new__item-link img {
  position: relative;
  width: 100%;
  height: auto;
  //transform: scale(1.0);
  //bottom: 7px;
  //transition: .5s;
}

.new__item:hover .new__item-link img {
  bottom: 0;
}

.new__item .new__item-text {
  position: absolute;
  width: 259px;
  height: 343px;
  top: 50%;
  left: 11px;
  text-align: left;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: .5s;
  border-radius: 7px;
}

.new__item:hover .new__item-text {
  top: 11px;
  opacity: 1;
  cursor: pointer;
}

.new__item .new__item-text p {
  color: #ffffff;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 10px 10px;
}

//.new__item:hover,
//.new__item:focus-within {
//  box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
//  transform: translateY(-0.5rem);
//}

@media (min-width: 768px) {
  .new {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .new__title {
    position: relative;
    margin: 0;
    padding-left: 70px;
    font-weight: 500;
    color: #333333;
    font-size: 24px;
  }

  .new__title::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 36px;
    width: 27px;
    min-height: 25px;
    background-image: url("../images/src/fire.svg");
  }

  .new__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }

  .new__item > p {
    width: 200px;
  }

  .new__item {
    padding: 10px;
    max-width: 30rem;
    position: relative;
  }

  .new__item .new__item-link img {
    position: relative;
    width: 280px;
    height: auto;
    //transform: scale(1.0);
    //bottom: 7px;
    //transition: .5s;
  }

  .new__item .new__item-text {
    position: absolute;
    width: 278px;
    height: 369px;
    top: 50%;
    left: 11px;
    text-align: left;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .5s;
    border-radius: 7px;
  }
}

@media (min-width: 1260px) {
  .new {
    width: 1260px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .new__title {
    position: relative;
    margin: 0;
    margin-top: 33px;
    padding-left: 31px;
  }

  .new__title::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 27px;
    min-height: 25px;
    background-image: url("../images/src/fire.svg");
  }

  .new__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: -26px;
    position: relative;
  }

  .new__item > p {
    width: 273px;
    font-size: 20px;
  }

  .new__item {
    padding: 0;
    margin-top: 42px;
    margin-right: 19px;
    max-width: 30rem;
    position: relative;
  }

  .new__item:last-child {
    margin-right: 0;
  }

  .new__item .new__item-link img {
    position: relative;
    width: 280px;
    height: auto;
    //transform: scale(1.0);
    //bottom: 7px;
    //transition: .5s;
  }

  .new__item .new__item-text {
    position: absolute;
    width: 278px;
    height: 369px;
    top: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .5s;
    border-radius: 7px;
  }

  .new__item:hover .new__item-text {
    top: 0;
    left: 1px;
    opacity: 1;
    cursor: pointer;
  }

  .new__item .new__item-text p {
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 14px 18px;
    line-height: 1.4;
  }
}

